body {
  background: linear-gradient(
    89.9deg,
    rgb(208, 246, 255) 0.1%,
    rgb(255, 237, 237) 47.9%,
    rgb(255, 255, 231) 100.2%
  );
}

h1 {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 50px;
  font-weight: 10px;
}

.container {
  border: 1px solid;
  border-color: rgb(122, 10, 144);
  border-radius: 20px;
  margin: 100px;
}

form {
  text-align: center;
  size: 15px;
  border-radius: 20px;
  color: #ffff;
}

button {
  color: #ffff;
  background-color: rgb(123, 63, 173);
  border-color: rgb(142, 15, 227);
  border-radius: 5px;
}

button:hover {
  background-color: rgb(207, 186, 239);
  border-color: rgb(216, 179, 244);
}
p {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 30px;
}

.icon {
  display: flex;
  justify-content: center;
}
